/* Blog */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* .post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap: 1.5rem;
} */
.post {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* 3 parts for posts, 1 part for the other content */
    justify-content: center;
    gap: 1.5rem;
}


.post-box {
    background: var(--bg-color);
    box-shadow: 0 4px 14px rgba(29, 18, 19, 0.411);
    padding: 15px;
    border-radius: 0.5rem;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.post-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img-top {
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.card-title-blog {
    font-size: 1.3rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-blog {
    width: fit-content;
}

.content-img {
    width: 75%;
    height: 490px;
    border-radius: 0.8rem;
}

.carousel-inner {
    box-shadow: 0 4px 14px rgba(52, 31, 33, 0.48);
    border-radius: 0.3rem;
}

.tag-title {
    border-bottom: 1px solid #777;
}

.card-blog-new {
    max-width: 30em;
    flex-direction: row;
}

.title-blog {
    /* font-size: 15px; */
    font-weight: bolder;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Điều chỉnh khoảng cách với nội dung trang */
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}