.container-forgot {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    width: 80%;

}

.title-forgot {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    flex-wrap: inherit;
}

.input {
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
}

.btn-forgot {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    margin-bottom: 10px;
}

.btn-forgot:hover {
    letter-spacing: 2px;
}

.btn-forgot:active {
    transform: scale(0.95);
}

.btn-forgot:focus {
    outline: none;
}

.form {
    padding: 20px;
    height: 300px;

}

.icon {
    margin-right: 10px;

}

.input-error {
    border: 1px solid red;
}