.return-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Căn giữa nội dung */
}

.title {
    color: #333;
    border-bottom: 2px solid #ddd;
    /* Thêm border cho h1 */
    padding-bottom: 10px;
}

.content {
    margin: 10px 0;
    color: #23262e;
}

.box-container-bill {
    max-width: 800px;
    /* Độ rộng tối đa của box-container */
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    padding: 20px;
    /* Khoảng cách giữa nội dung và viền của box-container */
    border: 2px solid #ddd;
    /* Viền của box-container */
    border-radius: 10px;
    /* Bo tròn góc của box-container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Đổ bóng cho box-container */
}