.container-setpass {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-setpass {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Căn giữa theo chiều ngang (hozi) */
    justify-content: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-setpass {
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    /* Tăng chiều cao */

}

.btn-setpass {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    margin-bottom: 8px;
    margin-top: 10px;
}

.btn-setpass:hover {
    letter-spacing: 2px;
}

.btn-setpass:active {
    transform: scale(0.95);
}

.btn-setpass:focus {
    outline: none;
}

.password-toggle {
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
    border: none;
}

.password-input {
    position: relative;
    width: 100%;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.password-toggle .fa-eye,
.password-toggle .fa-eye-slash {
    font-size: 1.5em;
    color: #888;
    border: none;
}

.password-toggle:active input {
    border: none;
    /* Loại bỏ đường viền khi click vào */
}