.no-products-message {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #F5F5F5;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.error-image {
    max-width: 150px;
    margin-top: 25px;
}

.message-heading {
    font-size: 24px;
    margin-top: 20px;
    color: #48504e;
}

.no-products-message {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #48504e;
    /* Text color for the message */
}

.error-image {
    max-width: 150px;
    margin-top: 25px;
}

.message-heading {
    font-size: 24px;
    margin-top: 20px;
    color: #48504e;
    /* Text color for the heading */
}

.brand {
    display: inline-block;
    padding: 5px;
    background-color: #045061;
    /* Primary color for "DRUG" */
    border-radius: 5px;
}

.brand-part {
    font-size: 2rem;
    /* Adjust the font size as needed */
    padding: 5px;
    margin-block: -5px;
    /* Overlap with the previous part for a connected appearance */
    color: #FFFFFF;
    /* Text color for both "DRUG" and "MART" */
}

.brand-primary {
    background-color: #7BC1B7;
    /* Primary color for "DRUG" */
}

.brand-secondary {
    background-color: #0B8FAC;
    /* Secondary color for "MART" */
}